################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TooGoodTest/bin/Debug
/TooGoodTest/obj/Debug
